.posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-item {
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-link {
  text-decoration: none;
  display: block;
  
  &:hover {
    text-decoration: underline;
  }
}

