.pill {
  padding: 10px;
  color: $tertiary;
  background-color: $tertiary-low-opacity;
  border-radius: 20px;
  font-size: 12px;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}