.layout {
  display: flex;
  width: 100%;
  height: 100vh;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;

  &__left {
    justify-content: center;
    align-items: center;
  }

  &__right {
    max-height: 100%;
    padding: 50px 2rem;
    overflow: hidden;
  }
}
