.set {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    &--item {
        color: $secondary;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
        padding-right: 75px;
    }
}

.set__pills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    row-gap: 5px;
    margin: -2.5px;

    &--item {
        margin: 2.5px;
    }
}