.set {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    &--item {
        color: $secondary;
    }
}

.set__pills {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;

    &--item {

    }
}