.filters {
    display: flex;
    margin-bottom: 1rem;

    > * {
        margin: 5px;
    }

    :first-child {
        margin-left: 0;
    }

    :last-child {
        margin-right: 0;
    }
}

.date-filter {
    display: flex;

    :first-child {
        margin-right: 5px;
    }

    :last-child {
        margin-left: 5px;
    }
}